[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yash3056
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yash3056
	label-Verified = -1..+1 group user/yash3056
	push = group user/yash3056
	read = group user/yash3056
	rebase = group user/yash3056
	removeReviewer = group user/yash3056
	submit = group user/yash3056
[access "refs/heads/*"]
	create = group user/yash3056
	push = +force group user/yash3056
	pushMerge = group user/yash3056
	read = group user/yash3056
[access "refs/tags/*"]
	push = group user/yash3056
	push = +force group user/yash3056
